*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-style:normal;font-weight:400;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}input,textarea{margin:0;padding:0}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}a:focus{outline:0}html{po
position:relative;width:100%;height:100%;font-family:Microsoft YaHei,sans-serif;z-index:0;line-height:1.5;background-image:url(img/topBG.jpg);background-color:#121925;background-size:cover;background-position:50% 50%;background-attachment:fixed;font-weight:300}body{position:relative;width:100%;height:100%;min-width:335px;z-index:1}a{color:#04202c}a:hover{color:#dd4172}b{background-color:rgba(221,65,114,.4)}::selection{background:#dd4172}::-moz-selection{background:#dd4172}.top_hr_style01{width:20%;margin:5px auto;border:0;border-bottom:1px solid #fff}.top_hr_style02{border:0;border-bottom:1px dashed #858585}.slider{width:100%;height:150px;-webkit-transition:.2s ease;-moz-transition:.2s ease;-o-transition:.2s ease;transition:.2s ease;background-image:url(img/topBG.jpg);background-color:#121925;background-size:cover;background-position:50% 50%;background-attachment:fixed}#top{width:100%;height:100%;position:relative;margin:auto;z-index:11}#sunny{width:100%;height:100%;position:initial;background-image:url(img/sunny.jpg);background-color:transparent;background-size:cover;background-position:50% 50%;background-attachment:fixed;z-index:99
}#top_img{width:100%;height:100%;position:fixed;background-image:url(img/topBG.jpg);background-color:#121925;background-size:cover;background-position:50% 50%;background-attachment:fixed;z-index:-2}#top_main{width:100%;height:100%;position:relative;margin:0 auto;padding:40px 0 10px}#top_logo{height:30%;min-height:80px;max-height:244px;display:block}#top_logo img{-webkit-animation:A 15s linear 0s infinite;animation:A 15s linear 0s infinite;margin-right:auto;margin-left:auto;display:block;height:100%}@-webkit-keyframes A{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes A{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}#top_title{text-align:center;padding-top:15px;display:block;height:10%;position:relative;right:10%}#top_title img{margin-right:auto;margin-left:auto;display:block}#top_title #top_title01{z-index:-1000;height:83%;max-height:59px;min-height:30px}#top_title #top_title02{height:17%;max-height:22px;min-height:40%}#top_navlist{font-size:120%;z-index:10;display:block;width:30%;height:220%;max-width:220px;margin-left:auto;margin-right:auto;margin-top:50px;position:relative;right :10%}#top_navlist::after{content:" ";display:block;width:20%;height:150%}.top_nav{opacity:0.85;display:block;width:100%;max-height:40px;min-height:10px;margin-top:15px;text-decoration:none;font-size:90%;vertical-align:middle central;color:#fff;letter-spacing:.5px;text-align:center;-webkit-transition:.2s linear;-moz-transition:.2s linear;-o-transition:.2s linear;transition:.2s linear;line-height:180%}.top_nav:hover{border-radius:3px;background-color:#fff}#top_footer{padding:4px 10px;background-color:##dd4172;position:fixed;bottom:0;left:0;right:0;z-index:12;-webkit-transition:.2s linear;-moz-transition:.2s linear;-o-transition:.2s linear;transition:.2s linear}#top_copyright{display:block;-webkit-transition:.2s linear;-moz-transition:.2s linear;-o-transition:.2s linear;transition:.2s linear;color:#a9886b;font-size:10px;letter-spacing:1.5px;text-align:center}@media screen and (max-width:500px){#top_footer{padding:1px}#top_copyright{font-size:8px;letter-spacing:0;text-align:center}}
        canvas{
      position: absolute;
      z-index: -1;
    }
.mobile-white-block{
  animation: fade-in;
    animation-duration: 1.5s;
    -webkit-animation:fade-in 1.5s;
  position:absolute;
  height:310px;
  width:1350px;
  background-color:black;
  opacity:0.6;
  z-index:-1;
}



@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 0.3;}/*结束状态 透明度为1*/  
}
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0.}  
    100% {opacity: 0.3;}  
}

.img-block{
   height:25vh;
}
.white-block{    
    animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/
    position:fixed;
  background-color:black;
  z-index:-1;
  opacity:0.3;
  padding-left: 100%;
  width:80%;
}

@media screen and (min-height: 753px) { 
.white-block{height: 35%} 
} 

@media screen and (min-height: 919px) { 
.white-block{height: 30%} 
} 

@media screen and (min-height: 1199px) { 
  .white-block{height: 27%} 
  } 
  
@media screen and (min-height: 1439px) { 
    .white-block{height: 24%} 
    } 
  
@media screen and (min-height: 2159px) { 
      .white-block{height: 19%} 
      }

@media screen and (min-height: 2302px) { 
        .white-block{height: 19%} 
        }

@media screen and (min-height: 2879px) { 
          .white-block{height: 17%} 
          }
